[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rbounds"]
	path = rbounds
	url = https://github.com/cran/rbounds
	shallow = true
	registered = true
